<!doctype html>
<html lang="en">
  <head>
    <link rel="icon" href="../icon.jpg">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Online-Library</title>
  </head>
  <body>
    <div class="container">
      <nav aria-label="Page navigation example">
        <ul class="pagination mt-3">
          {% if page_number == 1 %}
            <li class="page-item disabled">
              <a class="page-link" href="./index_{{page_number - 1}}.html" tabindex="-1" aria-disabled="true">Назад</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="./index_{{page_number - 1}}.html">Назад</a>
            </li>
          {% endif %}
          {% for number in range(1, pages_number + 1) %}
            {% if number == page_number %}
              <li class="page-item active" aria-current="page">
                <a class="page-link" href="./index_{{number}}.html">{{number}}  <span class="sr-only">(current)</span></a>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="./index_{{number}}.html">{{number}}</a>
              </li>
            {% endif %}
          {% endfor %}
          {% if page_number == pages_number %}
            <li class="page-item disabled">
              <a class="page-link" href="./index_{{page_number + 1}}.html">Вперёд</a>
            </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="./index_{{page_number + 1}}.html" tabindex="-1" aria-disabled="true">Вперёд</a>
          </li>
          {% endif %}
        </ul>
      </nav>
      <hr/>
      <div class="row">
        {% for books in split_books %}
          {% for book in books %}
            <div class="card mb-3" style="width: 540px;">
              <div class="row no-gutters">
                <div class="col-md-4">
                  <img src="../{{book['img_src']}}" class="card-img" alt="{{book['title']}}">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">{{book['title']}}</h5>
                    <p class="card-text">{{book['author']}}</p>
                    <h6>
                      {% for genre in book['genres'] %}
                        <span class="badge badge-light">{{genre}}</span>
                      {% endfor %}
                    </h6>
                    <a href="../{{book['book_path']}}" target="_blank">Читать</a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="w-100"></div>
        {% endfor %}
      </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>